#overlay {
    display:inline-block;
    width:400px; 
    height:400px;
    margin: 0 auto; 
    background: white; 
    position:relative; 
    border:5px solid black; 
    border-radius: 10px; 
    box-shadow: 0 5px 50px #333}
  }  

  .bottom {
    position:relative;
  z-index:20;
  }
#video {
    width:400px;
    height:400px;
  }
  
  #photo {
    width:400px;
    height:400px;
    
  }
  
  #canvas {
    display:none;
  }
  
  .camera {
    width: 400px;
    display:inline-block;
    display:none;
  }
  
  .output {
    width: 400px;
    display:inline-block;
  }
  
  
  
  .contentarea {
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    width: 760px;
  }