.canvas{
  background-color: transparent;
  background-size: cover;
}


#video {
    width:400px;
    height:400px;
  }
  
  #photo {
    width:400px;
    height:400px;
    
  }
  
  #canvas1 {
    display:none;
  }
  
  .camera {
    width: 400px;
    display:inline-block;
    display:none;
  }
  
  
  